#tagSelect {
    background-color: #1a1a2e;
    color: #ffffff;
    border: 2px solid #00ffff;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    appearance: none;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#tagSelect:hover {
    border-color: #ff00ff;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff;
}

#tagSelect:focus {
    border-color: #ff00ff;
    box-shadow: 0 0 15px #ff00ff, 0 0 30px #ff00ff;
}

#tagSelect option {
    background-color: #1a1a2e;
    color: #ffffff;
}


.ReactGridGallery_tile-viewport:hover {
    color: #111;
    background: rgb(135, 1, 153);
    box-shadow: 0 0 20px #56c7ee;
}

.custom-overlay__caption {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    max-height: 240px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    padding: 2px;
    font-size: 150%;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

#tagSelect {
    flex: 1;
    max-width: 200px;
}

input[type="text"] {
    flex: 1;
    max-width: 300px;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff;
    background-color: #1a1a2e;
    color: #ffffff;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #ff00ff;
    box-shadow: 0 0 15px #ff00ff, 0 0 30px #ff00ff;
}

input[type="text"]:hover {
    border-color: #ff00ff;
    box-shadow: 0 0 15px #ff00ff, 0 0 30px #ff00ff;
}

.no-themes-message {
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
    margin-top: 20px;
}

.pagination-controls {
    text-align: center;
    font-weight: bold;
}

.pagination-controls button {
    background-color: rgb(135, 1, 153);
    color: white;
    margin: 10px;
}

.pagination-controls button:disabled {
    background-color: grey;
}