.topHeader {
    text-align: center;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf), local('Arial'), local('Arial'), ;
    font-display: swap;
}

.chrome {
    font-family: neon;
    color: #7c137a;
    font-size: 4vw;
    line-height: 4vw;
    text-shadow: 0 0 3vw #F40A35;
}

.craft {
    font-family: neon;
    color: #426DFB;
    font-size: 4vw;
    line-height: 4vw;
    text-shadow: 0 0 3vw #2356FF;
}

.chrome {
    animation: chrome 1s ease forwards;
    -moz-animation: chrome 1s ease forwards;
    -webkit-animation: chrome 1s ease forwards;
}

@keyframes chrome {

    0%,
    100% {
        text-shadow: 0 0 1vw #791379, 0 0 3vw #791379, 0 0 10vw #791379, 0 0 10vw #791379, 0 0 .4vw #3f1048, .5vw .5vw .1vw #3c1146;
        color: #ac13ac;
    }

    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}

.craft {
    animation: craft 2s linear forwards;
    -moz-animation: craft 2s linear forwards;
    -webkit-animation: craft 2s linear forwards;
    -o-animation: craft 2s linear forwards;
}

@keyframes craft {

    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }

    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}